<div id="action-bar" style="{{get-list-color selectedList.color}}">
    <div id="action-bar-title">
        {{#if headerEditable}}
            {{#if headerEditState}}
                {{input id="edit-list-name-field" value=headerEditValue key-up=(action "updateHeaderEditValue") focus-out=(action "toggleOffEditListNameState")}}
            {{else}}
                <div id="edit-title-field" {{action "toggleOnEditListNameState"}} title="Edit this list name.">

                    {{displayHeader}}

                    <div class="edit-list-name-icon">
                        {{fa-icon "pencil"}}</div>
                </div>
            {{/if}}
            <div id="color-picker-wrapper">

                {{spectrum-color-picker
                color=colorPickerColor
                preferredFormat="hex"
                onChange=(action "colorChanged")
            }}
            </div>
        {{else}}
            {{displayHeader}}
        {{/if}}
        <div {{action "showSideNav"}} id="show-side-nav-button" class="only-show-on-mobile">
            {{fa-icon "chevron-down"}}
        </div>
    </div>
    {{#if listCount}}
        <div id="action-bar-header-count">{{listCount}}</div>
    {{/if}}

    <div id="action-buttons-wrapper">
        {{#if createContact}}
            <div {{action "createContact"}} class="action-button create" title="Create a new contact.">
                <div class="action-button-icon create">{{fa-icon "plus"}}</div>
                <div class="action-button-text">
                    Create New <span class="hide-on-mobile">Contact</span>
                </div>
            </div>
        {{/if}}

        {{#if (and addContact headerEditable)}}
            <div {{action "addContact"}} class="action-button add" title="Add existing contacts to this list.">
                <div class="action-button-icon add">{{fa-icon "address-book"}}</div>
                <div class="action-button-text">
                    Add Existing <span class="hide-on-mobile">Contacts</span>
                </div>
            </div>
        {{/if}}

        {{#if contactCount}}
            {{#if onShare}}
                <div class="action-button share">
                    <div class="action-button-icon share">{{fa-icon "share-alt"}}</div>
                    <div class="action-button-text">
                        Share <span class="hide-on-mobile">Contacts</span>
                    </div>
                </div>
            {{/if}}
            {{#if onExport}}
                <div {{action "onExport"}} class="action-button export" title="Export the contacts in this list.">
                    <div class="action-button-icon export">{{fa-icon "cloud-download"}}</div>
                    <div class="action-button-text">
                        Export <span class="hide-on-mobile">List</span>
                    </div>
                </div>
            {{/if}}
        {{/if}}
        {{#if onImport}}
            <div {{action "onImport"}} class="action-button import" title="Upload contacts to Cloud Address.">
                <div class="action-button-icon import">{{fa-icon "cloud-upload"}}</div>
                <div class="action-button-text">
                    Import <span class="hide-on-mobile">Contacts</span>
                </div>
            </div>
        {{/if}}
        {{#if listCount}}
            {{#if onVerify}}
                <div class="action-button verify">
                    <div class="action-button-icon verify">{{fa-icon "check"}}</div>
                    <div class="action-button-text">
                        Verify <span class="hide-on-mobile">Contacts</span>
                    </div>
                </div>
            {{/if}}
        {{/if}}
    </div>
    <div class="success-toast" id="changes-success-toast">
        {{fa-icon "check"}}
        Changes saved
    </div>
    <div class="success-toast" id="message-success-toast">
        {{fa-icon "check"}}
        {{successMessage}}
    </div>
</div>
{{saveSuccessToast}}
{{messageSuccessToast}}