<div id="modal-gauze">
    <div id="add-contacts-modal" class="no-hide">
        <div class="no-hide" id="add-contacts-modal-header">Add contacts to list</div>
        <div {{action "closeModal"}} id="add-contacts-modal-close-button">X</div>
        <div class="no-hide" id="add-contacts-contact-wrapper">
            {{#each currentContacts as |contact|}}
                <div {{action "toggleContact" contact.id}} class="add-contacts-contact-row no-hide">
                    {{#if contact.selected}}
                        <div class="contact-checkbox selected no-hide">{{fa-icon "check"}}</div>
                    {{else}}
                        <div class="contact-checkbox deselected no-hide"></div>
                    {{/if}}
                    <div class="add-contacts-contact-row-name-wrapper no-hide">
                        {{contact.name}}
                    </div>
                </div>
            {{/each}}
        </div>
        <div {{action "addContacts"}} id="add-contacts-confirm-button" class="no-hide">Add</div>
    </div>
</div>