<div id="confirm-contact-delete-gauze">
    <div id="confirm-contact-delete-modal">
        <div id="confirm-contact-delete-header">Are you sure?</div>
        <div id="confirm-contact-delete-subheader">This will permanently delete <span
                class="emphasis">{{contact.name}}</span>.</div>
        <div id="confirm-contact-delete-button-wrapper">
            <div {{action "cancel"}} class="confirm-contact-delete-button cancel">Nevermind</div>
            <div {{action "confirm"}} class="confirm-contact-delete-button confirm">Confirm</div>
        </div>
    </div>
</div>