<div class="contact-field-wrapper {{classNames}}">
    <div class="contact-field-label">{{label}}
        {{#if required}}
            <span class="contact-field-required">REQUIRED</span>
        {{/if}}
    </div>
    {{input class="contact-field" key-up=(action 'onChange') placeholder=placeholder value=value}}
</div>