<div id="import-contacts-modal-gauze">
    <div id="import-contacts-modal" class="no-hide">
        <div id="import-contacts-header" class="no-hide">Import your contacts</div>

        {{#if numberOfContactsUploaded}}
            <div id="upload-contacts-image-wrapper" class="no-hide">
                <img src="/assets/images/friends.svg" id="upload-contacts-image" />
            </div>
            <div id="upload-contact-count" class="no-hide">
                We detected <span class="emphasis">{{numberOfContactsUploaded}}</span>
                contact{{if (gt numberOfContactsUploaded 1) "s"}}.
            </div>
            <div {{action "reset"}} id="upload-retry" class="link">Retry</div>
        {{else}}
            <div id="upload-instructions" class="no-hide">
                Upload a CSV with the following column headers:
                <div id="upload-instructions-column-headers" class="no-hide">
                    <div class="upload-instructions-column-header no-hide">Name</div>
                    <div class="upload-instructions-column-header no-hide">Address</div>
                    <div class="upload-instructions-column-header no-hide">City</div>
                    <div class="upload-instructions-column-header no-hide">State</div>
                    <div class="upload-instructions-column-header no-hide">ZIP Code</div>
                    <div class="upload-instructions-column-header no-hide">Email</div>
                    <div class="upload-instructions-column-header no-hide">Phone</div>
                    <div class="upload-instructions-column-header no-hide">Notes</div>
                </div>
            </div>
            <div id="upload-input-wrapper" class="no-hide">
                <label id="upload-input-label" class="no-hide" for="upload-input">{{fa-icon "cloud-upload"}} Select a
                    CSV</label>
                <input onchange={{action "upload"}} type="file" name="File Upload" id="upload-input" class="no-hide"
                    accept=".csv" />
            </div>
        {{/if}}
        <div id="import-contacts-button-wrapper" class="no-hide">
            <div {{action "cancel"}} class="import-contacts-button cancel no-hide">Nevermind</div>
            {{#if numberOfContactsUploaded}}
                <div {{action "confirm"}} class="import-contacts-button confirm no-hide">Import</div>
            {{else}}
                <div class="import-contacts-button confirm disabled no-hide">Import</div>
            {{/if}}
        </div>
    </div>
</div>