<div id="side-nav">
    <div {{action 'hideSideNav'}} id="close-side-nav" class="only-show-on-mobile">
        {{fa-icon 'chevron-up'}}
    </div>
    <div {{action "sendHome"}} id="logo-wrapper">
        {{#if isPro}}
            <img id="logo" src="/assets/images/logo_pro.png" />
        {{else}}
            <img id="logo" src="/assets/images/logo_text.png" />
        {{/if}}
    </div>
    <div id="user-wrapper">
        <div id="profile-image-wrapper">
            {{#if user.photoURL}}
                <img id="profile-image" src={{user.photoURL}} title="Yep. That's you!" />
            {{else}}
                <div id="profile-image-fallback">{{userFirstLetter}}</div>
            {{/if}}
        </div>
        <div id="display-name">
            {{ user.displayName }}
            <div {{action "logout"}} id="sign-out-button" title="Sign out of Cloud Address">
                {{fa-icon "sign-out"}}
                Sign Out
            </div>
        </div>
    </div>
    <div id="list-wrapper">
        <div {{action 'addList'}} class="list-button new" title="Create a new list of contacts.">
            CREATE LIST
        </div>

        <div {{action "viewAll" }} class="list-button existing {{if (eq selectedListId list.id) 'active'}}"
            title="View all your contacts.">
            <div class="list-name">
                ALL CONTACTS
            </div>
        </div>

        {{#each lists as |list|}}
            <div class="list-button existing {{if (eq selectedListId list.id) 'active'}}"
                style="{{get-list-color list.color}}" title={{concat "View your \"" list.name "\" list."}}>
                <div {{action "viewList" list}} class="list-name">
                    {{lodash "toUpper" list.name}}
                </div>
                <div {{action "showListActionsDropdown" list.id}} class="list-actions">
                    {{fa-icon "gear"}}
                </div>
            </div>
            <div class="list-actions-dropdown" id={{concat "list-actions-dropdown-" list.id}}>
                <div {{action "deleteList" list.id}} class="list-actions-dropdown-item"
                    title="Permanently delete this list.">Delete List</div>
            </div>
        {{/each}}
    </div>
    <div id="footer">Version: 0.72</div>
</div>