@media only screen and (max-width: 1000px) {
  #action-bar {
    width: 100%;
    padding-right: 0px;
    height: auto;

    >#action-bar-title {
      padding-left: 15px;
      font-weight: 200;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 25px;
      float: left;

      >#show-side-nav-button {
        width: 50px;
        float: left;
        height: 40px;
        border-radius: 10px;
        text-align: center;
        color: rgb(148, 148, 148);
        font-size: 30px;
      }

      >#edit-list-name-field {
        font-size: 25px;
        float: right;
        width: 230px;
      }

      >#edit-title-field {
        float: right;

        >.edit-list-name-icon {}
      }

      >.edit-list-name-icon {}
    }

    >#action-bar-header-count {}

    >#action-buttons-wrapper {
      width: calc(100% - 20px);
      padding-left: 10px;
      padding-right: 10px;

      >.action-button {
        padding-right: 0px;
        height: 22px;
        margin-right: 3px;

        >.action-button-icon {
          width: 20px;
          padding-top: 3px;
          height: 17px;
          font-size: 10px;
        }

        >.action-button-text {
          font-size: 12px;
          height: auto;
          padding-bottom: 0px;
          padding-top: 3px;
        }

      }
    }

    >.success-toast {
      top: 104px;
      left: calc(50% - 110px);

      &#changes-success-toast {
        left: calc(50% - 70px);
      }
    }
  }
}
