@media only screen and (max-width: 1000px) {
  #modal-gauze {


    >#add-contacts-modal {
      width: calc(100% - 20px);
      margin: auto;
      height: 430px;
      left: calc(50% - calc(50% - 10px));

      >#add-contacts-modal-header {}

      >#add-contacts-modal-close-button {}

      >#add-contacts-contact-wrapper {
        height: 310px;


        >.add-contacts-contact-row {

          >.contact-checkbox {

            &.selected {}

            &.deselected {}
          }

          .add-contacts-contact-row-name-wrapper {}

        }
      }

      >#add-contacts-confirm-button {}
    }
  }
}
