@media only screen and (max-width: 1000px) {
.contact-field-wrapper {
    width: 100%;
    margin-bottom: 20px;
    float: left;

    &.half {
        width: 100%;

        &.first {
            margin-right: 0;
        }
    }
    
    &.third {
        width: 100%;

        &.first {
            margin-right: 0;
        }

        &.middle {
            margin-right: 0;
        }
    }

    >.contact-field-label {
        

        >.contact-field-required {
        
        }
    }

    >.contact-field {
        
    }
    }
}