@media only screen and (max-width: 1000px) {
#import-contacts-modal-gauze {
    width: 100%;


    >#import-contacts-modal {
width: calc(100% - 20px);
        margin: auto;
        left: calc(50% - calc(50% - 10px));

        >#import-contacts-header {
        }

        >#upload-contacts-image-wrapper {

            >#upload-contact-image {
            }
        }

        >#upload-contact-count {
        }

        >#upload-retry {
        }

        >#upload-instructions {

            >#upload-instructions-column-headers {

                >.upload-instructions-column-header {
                }
            }
        }

        >#upload-input-wrapper {
            
            >#upload-input-label {
            }

            >#upload-input {
            }
        }


        >#import-contacts-button-wrapper {

            >.import-contacts-button {

            }
        }
    }
    }
}