@media only screen and (max-width: 1000px) {
  #side-nav {
    background-color: white;
    display: none;
    position: fixed;
    width: 100%;

    >#logo-wrapper {
      padding-top: 7px;
      padding-bottom: 7px;

      >#logo {
        width: 105px;
      }
    }

    >#close-side-nav {
      position: fixed;
      top: 5px;
      left: 5px;
      width: 72px;
      height: 50px;
      padding-top: 2px;
      padding-right: 5px;
      font-size: 30px;
      text-align: center;
      color: rgb(170, 170, 170);
    }

    >#user-wrapper {

      >#profile-image-wrapper {

        >#profile-image {}
      }

      >#display-name {

        >#sign-out-button {
          width: 100px;
          padding: 5px;
          font-weight: 200;
        }
      }
    }

    >#list-wrapper {

      >.list-button {
        width: 220px;
        padding: 5px;
        font-weight: 200;

        &.new {
          padding-top: 15px;
          margin-top: 0px;
        }

        &.existing {

          >.list-name {}

          >.list-actions {}


          >.list-count {}

          &.active {}
        }
      }


      >.list-actions-dropdown {
        position: relative;
        left: calc(50% - 85px);
        box-shadow: none;
        border: 1px solid rgb(230, 230, 230);

        >.list-actions-dropdown-item {

          &:last-child {
            border-radius: 0 0px 5px 5px;
          }
        }
      }
    }

    >#footer {}
  }
}
