$success: #3DC847;
$primary: #934FCF;
$text: #B1B1B1;
$dark-text: rgb(78, 78, 78);
$primary-gradient: linear-gradient(45deg, rgb(90, 127, 228), $primary);

// action buttons
$create: #3DC847;
$add: rgb(49, 104, 206);
$delete: rgb(194, 31, 31);
$share: #9F3DC8;
$export: #8A8ADD;
$import: #4FC6CF;
$verify: rgb(177, 79, 207);
