body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}

.input {
    width: 80%;
    border-radius: 20px;
    height: 30px;
    margin: auto;
    color: rgb(153, 153, 153);
    padding-left: 10px;
    margin-left: calc(10% - 5px);
    outline: none;
    border: 1px solid #DBDBDB;

    &::placeholder {
        color: #DBDBDB;
    }
}

.emphasis {
    font-weight: bolder;
}

.link {
    color: $primary;
    font-weight: bolder;
    cursor: pointer;
}

.only-show-on-mobile {
    display: none;    
}


@media only screen and (max-width: 1000px) {
    .hide-on-mobile {
        display: none;    
    }

    .only-show-on-mobile {
        display: block;    
    }
}