.spectrum-color-picker-replacer {
  padding: 8px;
  background-color: transparent;
  border: none;
}

.sp-preview {
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;

  >.sp-preview-inner {
    border-radius: 100%;
  }
}

.sp-container {
  border: none;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}

.sp-cancel {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}

button.sp-choose {
  background: white;
  border-radius: 5px;
  color: #333;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  border: 1px solid #ccc;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 0 5px #ccc;
  }
}

#action-bar {
  width: calc(100% - 235px);
  height: 51px;
  padding: 5.5px;
  background-color: rgb(245, 245, 245);
  border-left: 5px solid;
  z-index: 1;
  position: fixed;
  padding-right: 25px;
  right: 0px;
  top: 0px;

  >#action-bar-title {
    font-size: 30px;
    padding-left: 10px;
    padding-top: 4px;
    color: $text;
    float: left;

    >#edit-list-name-field {
      border: 1px solid #ddd;
      background-color: white;
      border-radius: 10px;
      font-size: 30px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 8px;
      color: $text;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 200;

      &:focus {
        outline: none;
      }
    }

    >#edit-title-field {
      float: right;
      padding-left: 10px;
      cursor: pointer;

      >.edit-list-name-icon {
        font-size: 20px;
        position: relative;
        display: inline-block;
        color: #aaa;
        bottom: 10px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          color: $primary;
        }
      }
    }

    >#color-picker-wrapper {
      display: inline-block;
    }
  }

  >#action-bar-header-count {
    width: 60px;
    height: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: $primary;
    float: left;
  }

  >#action-buttons-wrapper {
    float: right;
    height: 41px;
    padding-top: 7px;

    >.action-button {
      height: 30px;
      border-radius: 20px;
      display: flex;
      margin-right: 10px;
      float: left;
      padding: 2px;
      background-color: white;
      box-shadow: 0px 0px 5px rgb(182, 182, 182);
      padding-right: 10px;
      transition: all 0.3s;
      cursor: pointer;

      >.action-button-icon {
        width: 28px;
        height: 24px;
        margin-top: 1px;
        border-radius: 100%;
        font-size: 15px;
        color: white;
        float: left;
        text-align: center;
        padding-top: 4px;

        &.create {
          background-color: $create;
        }

        &.add {
          background-color: $add;
        }

        &.share {
          background-color: $share;
        }

        &.export {
          background-color: $export;
        }

        &.import {
          background-color: $import;
        }

        &.verify {
          background-color: $verify;
        }
      }

      >.action-button-text {
        height: 30px;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 2px;
        color: $text;
        font-size: 15px;
        padding-left: 5px;
      }

      &:hover {
        box-shadow: 0px 0px 20px #ccc;
      }
    }
  }

  >.success-toast {
    position: absolute;
    width: 140px;
    height: 20px;
    background-color: rgb(60, 185, 60);
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    top: 62px;
    box-shadow: 0 0 2px rgb(107, 202, 107);
    left: calc(50% - 80px);
    display: none;

    &#message-success-toast {
      width: 220px;
      left: calc(50% - 110px);
    }
  }
}
