#modal-gauze {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;

    >#add-contacts-modal {
        width: 500px;
        height: 530px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
        z-index: 10001;
        position: fixed;
        top: 150px;
        left: calc(50% - 250px);

        >#add-contacts-modal-header {
            width: calc(100% - 40px);
            padding: 20px;
            padding-top: 15px;
            font-size: 30px;
            color: $text;
        }

        >#add-contacts-modal-close-button {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            text-align: center;
            font-size: 25px;
            box-shadow: 0px 0px 3px #ccc;
            background-color: white;
            color: rgb(173, 173, 173);
            cursor: pointer;
            transition: box-shadow 0.2s;
            
            &:hover {
                box-shadow: 0px 0px 8px #ccc;
            }
        }

        >#add-contacts-contact-wrapper {
            width: calc(100% - 40px);
            margin: auto;
            height: 400px;
            overflow-y: scroll;

            >.add-contacts-contact-row {
                border-bottom: 1px solid #eee;
                width: 100%;
                display: inline-block;
                padding-top: 10px;
                padding-bottom: 10px;
                cursor: pointer;

                >.contact-checkbox {
                    width: 20px;
                    height: 20px;
                    float: left;
                    border: 1px solid #ccc;
                    border-radius: 100%;
                    text-align: center;
                    
                    &.selected {
                        color: $create;
                    }
                    
                    &.deselected {
       
                    }
                }

             .add-contacts-contact-row-name-wrapper {
                float: left;
                margin-left: 30px;
                font-size: 20px;
                color: $text;
                font-weight: 200;
                position: relative;
                bottom: 5px;
             }
                
            }
        }

        >#add-contacts-confirm-button {
            width: 100px;
            padding: 5px;
            height: 20px;
            color: white;
            background-color: $create;
            text-align: center;
            position: absolute;
            bottom: 10px;
            right: 10px;
            cursor: pointer;
            border-radius: 20px;
            box-shadow: 0 0 3px #ccc;
            transition: box-shadow 0.3s;
            
            &:hover {
                box-shadow: 0 0 8px #ccc;
            }
        }
    }
}
