.back-button {
    background-color: $text;
    padding: 5px;
    border-radius: 25px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0px 0px 5px #ccc;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        box-shadow: 5px 0px 10px #ccc;
    }

    >.back-arrow {
        background-color: white;
        width: 22px;
        height: 25px;
        border-radius: 100%;
        float: left;
        color: $text;
        padding-left: 8px;
        padding-top: 5px;
    }

    >.back-text {
        padding-left: 10px;
        padding-right: 20px;
        padding-top: 3px;
        color: white;
        font-size: 18px;
        float: left;
    }
}