#confirm-contact-delete-gauze {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;

    >#confirm-contact-delete-modal {
        width: 400px;
        height: 200px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
        z-index: 10001;
        position: fixed;
        top: 200px;
        left: calc(50% - 200px);

        >#confirm-contact-delete-header {
            color: $delete;
            width: calc(100% - 20px);
            font-size: 40px;
            text-align: center;
            padding: 10px;
        }
        >#confirm-contact-delete-subheader {
            color: $text;
            width: calc(100% - 20px);
            font-size: 15px;
            text-align: center;
            padding: 10px;
        }
        >#confirm-contact-delete-button-wrapper {
            width: calc(100% - 20px);
            position: absolute;
            bottom: 10px;
            left: 10px;

            >.confirm-contact-delete-button {
                width: 125px;
                display: inline-block;
                height: 20px;
                border-radius: 10px;
                text-align: center;
                padding: 10px;
                font-size: 15px;
                cursor: pointer;
                box-shadow: 0 0 3px rgb(133, 133, 133);
                transition: all 0.2s;
                color: white;
                
                &:hover {
                    box-shadow: 0 0 7px rgb(133, 133, 133);
                }
                
                &.cancel {
                    background-color: rgb(143, 143, 143);
                    float: left;
                }
                
                &.confirm {
                    background-color: $delete;
                    float: right;
                }
            }
        }
    }
}