.contact-field-wrapper {
    width: 100%;
    margin-bottom: 20px;
    float: left;

    &.half {
        width: 48.3%;

        &.first {
            margin-right: 3.4%;
        }
    }
    
    &.third {
        width: 31%;

        &.first {
            margin-right: 3.4%;
        }

        &.middle {
            margin-right: 3.4%;
        }
    }

    >.contact-field-label {
        width: 100%;
        font-size: 18px;
        padding-left: 16
        px;
        color: $text;

        >.contact-field-required {
            font-size: 10px;
            margin-left: 5px;
        }
    }

    >.contact-field {
        border: 1px solid #ddd;
        margin-top: 5px;
        border-radius: 20px;
        outline: none;
        padding: 10px;
        padding-left: 15px;
        font-size: 17px;
        color: rgb(34, 34, 34);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 100;
        width: calc(100% - 20px);

        &::placeholder {
            color: $text;
        }
    }
}