#import-contacts-modal-gauze {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;

    >#import-contacts-modal {
        width: 400px;
        height: 300px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
        z-index: 10001;
        position: fixed;
        top: 150px;
        left: calc(50% - 200px);

        >#import-contacts-header {
            font-size: 30px;
            width: calc(100% - 20px);
            text-align: center;
            padding: 10px;
            color: $import;
        }

        >#upload-contacts-image-wrapper {
            width: 100px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;

            >#upload-contact-image {
                width: 100%;
                border-radius: 100%;
                box-shadow: 0 0 5px #ccc;
            }
        }

        >#upload-contact-count {
            width: 100%;
            text-align: center;
        }

        >#upload-retry {
            width: 100%;
            text-align: center;
            font-size: 10px;
        }

        >#upload-instructions {
            width: 100%;
            text-align: center;
            padding: 10px;
            font-size: 15px;
            height: 74px;

            >#upload-instructions-column-headers {
                padding-top: 10px;
                width: calc(100% - 20px);
                display: flex;
                justify-content: space-between;

                >.upload-instructions-column-header {
                    padding: 2px;
                    background-color: white;
                    font-size: 10px;
                    font-weight: 400;
                    float: left;
                    border: 1px solid #ccc;
                    border-radius: 3px;
                }
            }
        }

        >#upload-input-wrapper {
            clear: both;
            width: 220px;
            margin: auto;
            height: 60px;
            border-radius: 5px;
            text-align: center;
            
            >#upload-input-label {
                margin: auto;
                border-radius: 5px;
                color: white;
                width: 180px;
                box-shadow: 0 0 5px #ccc;
                padding: 20px;
                background-color: $import;
                display: inline-block;
                transition: all 0.2s;
                // font-weight: 100%
                
                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 10px #ccc;
                }
            }

            >#upload-input {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
        }


        >#import-contacts-button-wrapper {
            width: calc(100% - 20px);
            position: absolute;
            bottom: 10px;
            left: 10px;

            >.import-contacts-button {
                 width: 125px;
                display: inline-block;
                height: 20px;
                border-radius: 10px;
                text-align: center;
                padding: 10px;
                font-size: 15px;
                cursor: pointer;
                box-shadow: 0 0 3px rgb(133, 133, 133);
                transition: all 0.2s;
                color: white;

                                
                &:hover {
                    box-shadow: 0 0 7px rgb(133, 133, 133);
                }

                &.cancel {
                    background-color: rgb(143, 143, 143);
                    float: left;
                }

                &.confirm {
                    background-color: $import;
                    float: right;

                    &.disabled {
                        background-color: #ccc;
                    }
                }
            }
        }
    }
}