#side-nav {
  width: 200px;
  box-shadow: 0px 0px 10px #ccc;
  height: 1000px;
  position: fixed;
  left: 0px;
  z-index: 10;


  >#logo-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid rgb(230, 230, 230);
    display: block;
    cursor: pointer;

    >#logo {
      width: 113px;
    }
  }

  >#user-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;

    >#profile-image-wrapper {
      width: 100%;
      text-align: center;

      >#profile-image {
        width: 75px;
        height: 75px;
        border-radius: 100%;
        box-shadow: 0px 0px 4px #ccc;
        transition: all 0.4s;

        &:hover {
          box-shadow: 0px 0px 8px #bbb;
        }

      }

      >#profile-image-fallback {
        width: 75px;
        height: 55px;
        margin: auto;
        background-color: $primary;
        border-radius: 100%;
        color: white;
        text-align: center;
        padding-top: 20px;
        font-size: 25px;
        font-weight: 400;

        box-shadow: 0px 0px 4px #ccc;
        transition: all 0.4s;

        &:hover {
          box-shadow: 0px 0px 8px #bbb;
        }
      }
    }

    >#display-name {
      width: 100%;
      text-align: center;
      font-family: 'Noto Sans', sans-serif;
      color: #B1B1B1;

      >#sign-out-button {
        padding: 3px;
        box-shadow: 0px 0px 3px #ccc;
        border-radius: 5px;
        width: 70px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: auto;
        margin-top: 5px;
        cursor: pointer;
        font-size: 12px;
        color: #aaa;
        transition: all 0.3s;

        &:hover {
          box-shadow: 0px 0px 8px #ccc;
        }
      }
    }
  }

  >#list-wrapper {
    width: 100%;
    padding-top: 20px;

    >.list-button {
      width: 170px;
      margin: auto;
      font-size: 13px;
      border-left: 5px solid;
      margin-top: 10px;
      margin-bottom: 2px;
      box-shadow: 0px 0px 5px #ccc;
      border-radius: 10px;
      text-align: center;
      transition: all 0.2s;
      cursor: pointer;

      &.new {
        padding-top: 10px;
        color: $success;
        height: 30px;
        font-size: 15px;
        font-weight: 400;
        margin-top: 40px;
        border-left: 0px;
        margin-bottom: 30px;
      }

      &.existing {
        color: $text;
        text-align: left;
        transition: all 0.1s;
        z-index: 2;

        >.list-name {
          padding-left: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
          display: inline-block;
          width: calc(100% - 45px);
        }

        >.list-actions {
          width: 30px;
          float: right;
          height: 25px;
          text-align: center;
          padding-top: 5px;
          border-radius: 0px 11px 11px 0px;
          transition: all 0.2s;
          cursor: pointer;

          &:hover {
            background-color: rgb(248, 248, 248);
          }
        }


        >.list-count {
          width: 100%;
          height: 5px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          text-align: center;
          padding-top: 7px;
          background-color: $primary;
          color: white;
        }

        &.active {
          box-shadow: 0px 0px 0px $primary;
          background-color: rgb(247, 247, 247);
          margin-bottom: 0px;
        }
      }
    }


    >.list-actions-dropdown {
      width: 170px;
      display: none;
      left: 15px;
      z-index: 1;
      box-shadow: 0 0 20px #ccc;
      position: absolute;
      background-color: white;
      border-radius: 0 0px 5px 5px;


      >.list-actions-dropdown-item {
        width: calc(100% - 10px);
        padding: 5px;
        font-size: 10px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        background-color: white;
        transition: all 0.2s;

        &:last-child {
          border-radius: 0 0px 5px 5px;
        }

        &:hover {
          background-color: rgb(247, 247, 247);
        }
      }
    }
  }

  >#footer {
    width: 100%;
    height: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: white;
    font-size: 10px;
    color: $text;
  }
}
