@media only screen and (max-width: 1000px) {
#main-wrapper {
    width: 100%;
    margin-left: 0px;
    padding-top: 80px;
}

#not-signed-in-wrapper {

    >#sign-in-logo-wrapper {

        >#sign-in-logo {
        }
    }

    >#sign-in-modal {

        >#sign-in-logo-text-wrapper {

            >#sign-in-logo-text {
            }
        }

        >#sign-in-slogan {
        }

        >#sign-in-button {

            >#sign-in-google-logo {
            }

            >#sign-in-button-text {
            }
        }
    }
}
}