@media only screen and (max-width: 1000px) {
  #contact-table-wrapper {
    // padding-top: 65px;

    >#filter-input-wrapper {
      width: calc(100% - 40px);

      >#contact-filter {
        width: calc(100% - 30px);
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-weight: 200;

      }

      >#filter-meta {

        >#filter-tag {
          >.clear-filter-icon {}
        }

        >.filter-count-wrapper {
          width: auto;
          display: inline-block;
          font-size: 12px;
        }
      }
    }

    >#view-toggle-row {
      width: calc(100% - 40px);

      >#view-toggle-wrapper {

        >.view-toggle {

          &.active {}

          &#toggle-list {}

          &#toggle-grid {}
        }
      }
    }

    >#contact-grid-wrapper {
      width: 100%;
      padding-left: 5px;

      >.grid-element {
        width: 100%;
        margin-bottom: 30px;

        >.contact-name {
          font-size: 18px;
          padding-top: 10px;
          padding-left: 15px;
          font-weight: 200;

          >.grid-element-address {
            font-size: 14px;
          }
        }

        >.add-contact-to-list-button {}
      }
    }

    >.contact-row {
      width: calc(100% - 40px);

      >.contact-name {
        font-size: 17px;
        padding-top: 8px;
        height: 27px;
      }

      >.add-contact-to-list-button {}

      >.contact-actions-dropdown {


        >.contact-dropdown-category {}

        >.add-contact-to-list-item {

          &.not-added {}

        }
      }

    }

    >#empty-list-filter {
      width: 90%;
      padding-top: 100px;

      >#empty-list-filter-header {
        font-size: 18px;
      }

      >#empty-list-filter-subheader {
        font-size: 13px;
      }
    }

    >#empty-list-wrapper {
      padding-top: 100px;

      >#empty-list-verbiage-header {
        font-size: 30px;
      }

      >#empty-list-verbiage-subheader {}

      #empty-list-subheader-divider {}

      >#empty-list-image-wrapper {
        width: 150px;

        >#empty-list-image {}
      }
    }
  }
}
