@media only screen and (max-width: 1000px) {
  #welcome-page {

    >#threshold {
      height: 320px;
      padding-top: 80px;

      &.short {
        height: 180px;
      }

      >#logo {
        width: 150px;
        left: calc(50% - 75px);
      }

      >#threshold-headers {

        >#threshold-header {
          font-size: 30px;
          height: 40px;
        }

        >#threshold-subheader {
          font-size: 50px;
        }
      }

      >#show-sign-in-wrapper-button {
        width: 160px;
        height: 25px;
        position: relative;
        top: 60px;
        background-image: $primary-gradient;
        color: white;
        opacity: 0.9;
        padding: 5px;
        padding-top: 8px;
        text-align: center;
        font-weight: 200;
        font-size: 15px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 0 5px #ccc;

        >#down-arrow {
          width: 28px;
          height: 28px;
          display: grid;
          margin: auto;
        }
      }
    }

    #features-row {
      height: 615px;
      padding-top: 220px;

      &.short {
        padding-top: 40px;
      }

      >.feature-wrapper {
        width: 85%;
        position: relative;
        left: 7.5%;

        >.feature-box {
          margin-bottom: 30px;

          >.feature-icon-circle {

            >.feature-icon {}
          }

          >.feature-header {}

          >.feature-body {
            font-size: 15px;
          }
        }
      }
    }

    #quotes-row {
      height: 405px;

      >.quote-wrapper {
        width: 100%;
        margin-bottom: 60px;

        >.quote-box {
          width: 87.5%;
          position: relative;
          height: 150px;


          >.quote-picture {

            &.katie {}

            &.ryan {}
          }

          >.quote-body {
            width: calc(100% - 20px);
            padding: 10px;
          }

          >.quote-author {}
        }
      }
    }

    >#how-it-works-wrapper {
      width: 90%;

      >.how-it-works-row {
        padding-top: 25px;
        height: 750px;
        padding-bottom: 25px;
        width: 100%;

        >.how-it-works-content {
          width: 100%;
          padding-top: 25px;

          >.how-it-works-header-wrapper {

            >.how-it-works-counter {}

            >.how-it-works-heading {
              font-size: 30px;
            }
          }

          >.how-it-works-content-body {
            padding-top: 25px;
          }

        }

        >.how-it-works-video-wrapper {
          width: 80%;
          position: relative;
          left: 10%;
          padding-left: 0px;
          padding-top: 20px;

          >.how-it-works-gif {
            width: 100%;
          }
        }
      }
    }

    >#bottom-row {

      >#bottom-heading {
        font-size: 35px;
      }

      >#bottom-subheading {
        font-size: 20px;
      }
    }
  }

  .sign-in-wrapper {
    top: 225px;

    >#sign-in-blurb {

      >.sign-in-emphasis {}
    }

    >.sign-in-button {

      >.sign-in-google-logo {}

      >.sign-in-button-text {}
    }

    >#up-arrow {
      width: 28px;
      height: 28px;
      position: relative;
      bottom: 20px;
      display: grid;
      margin: auto;
    }
  }

}
