#contact-fields-wrapper {
    width: calc(100% - 55px);
    margin: auto;
    margin-top: 20px;

    >.space-between {
        // align-content: space-between;
    }
}

#last-saved-counter {
    float: right;
    padding: 5px;
    font-size: 10px;
    padding-right: 25px;
    position: relative;
    bottom: 35px;
    color: $text;

    >#last-saved-check {
        // color: $create;
    }
}