
#contact-table-wrapper {
    padding-top: 30px;
    padding-bottom: 70px;

    >#filter-input-wrapper {
        width: calc(100% - 95px);
        margin: auto;
        padding-right: 15px;
        margin-bottom: 35px;

        >#contact-filter {
            width: calc(100% - 20px);
            border: 1px solid #ccc;
            border-radius: 400px;
            padding: 10px;
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 200;
            padding-left: 20px;
            padding-right: 20px;
            display: table;
            color: rgb(59, 59, 59);
            
            &::placeholder {
                color: $text;
            }
    
            &:focus {
                outline: none;
            }
        }

        >#filter-meta {
            font-size: 14px;
            color: $text;
            padding-left: 20px;
            padding-top: 5px;
            text-align: right;

            >#filter-icon {
                color: #444;
                margin-right: 5px;
                position: relative;
                top: 1px;
            }

            >#filter-tag {
                font-size: 10px;
                margin-top: 3px;
                color: rgb(68, 68, 68);
                background-color: rgb(253, 253, 253);
                border-radius: 5px;
                padding-top: 0;
                height: 17px;
                padding-left: 10px;
                box-shadow: 0 0 3px rgb(161, 161, 161);
                float: right;
                margin-right: 10px;

                >.filter-value {
                    position: relative;
                    bottom: 3px;
                }

                >.clear-filter-icon {
                    font-size: 14px;
                    background-color: rgb(236, 236, 236);
                    border-radius: 0 5px 5px 0;
                    padding-left: 5px;
                    padding-right: 5px;
                    color: rgb(136, 136, 136);
                    display: inline-block;
                    margin-left: 5px;
                    height: 17px;
                    cursor: pointer;
                    transition: all 0.4s;

                    &:hover {
                        color: rgb(124, 57, 57);
                    }

                    >.clear-filter-x {
                        position: relative;
                        bottom: 2px;
                    }
                }
            }

            >.filter-count-wrapper {
                width: 180px;
                float: right;
            }
        }
    }

    >#view-toggle-row {
        width: calc(100% - 70px);
        margin: auto;
        height: 25px;
        clear: both;
        margin-bottom: 25px;
        
        >#view-toggle-wrapper {
            width: 81px;
            float: right;
            height: 25px;

            >.view-toggle {
                width: 35px;
                height: 25px;
                text-align: center;
                background-color: white;
                box-shadow: 0 0 5px #ccc;
                padding-top: 5px;
                float: left;
                color: rgb(46, 46, 46);
                font-size: 15px;
                transition: all 0.3s;
                cursor: pointer;
                
                &.active {
                    background-color: rgb(245, 245, 245);
                    color: rgb(133, 133, 133);
                    box-shadow: 0 0 0 transparent;
                }

                &#toggle-list {
                    border-radius: 20px 0 0 20px;
                    padding-left: 5px;
                    // border-right: 1px solid rgb(209, 209, 209);
                }
                
                &#toggle-grid {
                    padding-right: 5px;
                    border-radius: 0 20px 20px 0;
                }
            }
        }
    }

    >#contact-grid-wrapper {
        width: calc(100% - 35px);
        padding-left: 35px;
        margin: auto;

        >.grid-element {
            margin: auto;
            height: 100px;
            margin-bottom: 40px;
            margin-left: 10px;
            font-size: 20px;
            width: calc((100% - 40px) / 3);
            float: left;
            
            >.contact-name {
                float: left;
                height: 100px;
                width: calc(100% - 65px);
                padding: 5px;
                font-size: 22px;
                color: rgb(34, 34, 34);
                padding-left: 20px;
                background-color: white;
                border-radius: 5px;
                z-index: 10;
                box-shadow: 0px 0px 3px #ccc;
                cursor: pointer;
                transition: all 0.3s;
                
                &:hover {
                    box-shadow: 0px 0px 10px #ccc;
                }
                
                >.grid-element-address {
                    font-size: 14px;
                    color: rgb(129, 129, 129);
                }
            }

            >.add-contact-to-list-button {
                width: 22.5px;
                height: 22.5px;
                margin-left: 5px;
                box-shadow: 0px 0px 2px #ccc;
                border-radius: 100%;
                padding: 5px;
                position: relative;
                right: 20px;
                bottom: 10px;
                background-color: white;
                color: $text;
                font-size: 17px;
                text-align: center;
                float: left;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    box-shadow: 0px 0px 5px #ccc;
                }
            }

            >.contact-actions-dropdown {
            background-color: white;
            box-shadow: 0px 0px 5px #ccc;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            position: relative;
            font-size: 12px;
            width: 150px;
            display: none;
            top: -80px;
            right: -60%;
            z-index: 100;

            >.contact-dropdown-category {
                font-size: 15px;
                width: calc(100% - 8px);
                height: 19px;
                background-color: rgb(240, 240, 240);
                color: rgb(124, 124, 124);
                text-align: center;
                padding: 4px;
            }
            
            >.add-contact-to-list-item {
                width: calc(100% - 4px);
                padding: 2px;
                padding-top: 7px;
                padding-bottom: 7px;
                border-top: 1px solid #ccc;
                cursor: pointer;
                
                &.not-added {
                    width: calc(100% - 19px);
                    padding-left: 17px;
                }

                &:hover {
                    background-color: #eee;
                }

                >.check {
                    color: $create;
                }

                >.delete {
                    color: $delete;
                }
            }            
        }
            
        }
    }

    >.contact-row {
        width: calc(100% - 75px);
        margin: auto;
        height: 42px;
        margin-bottom: 10px;
        font-size: 20px;

        &.grid-element {
            width: calc((100% - 105px) / 3);
            float: left;
        }
        
        >.contact-name {
            float: left;
            height: 30px;
            width: calc(100% - 80px);
            padding: 5px;
            padding-left: 20px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            box-shadow: 0px 0px 3px #ccc;
            cursor: pointer;
            transition: all 0.3s;
            
            &:hover {
                box-shadow: 0px 0px 15px #ccc;
            }
        }

        >.add-contact-to-list-button {
            width: 32px;
            height: 22px;
            margin-left: 5px;
            box-shadow: 0px 0px 2px #ccc;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 9px;
            color: $text;
            font-size: 15px;
            text-align: center;
            float: left;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                box-shadow: 0px 0px 5px #ccc;
            }
        }

        >.contact-actions-dropdown {
            background-color: white;
            box-shadow: 0px 0px 5px #ccc;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            position: absolute;
            font-size: 12px;
            width: 150px;
            margin-top: 40px;
            display: none;
            right: 60px;
            z-index: 100;

            >.contact-dropdown-category {
                font-size: 15px;
                width: calc(100% - 8px);
                height: 19px;
                background-color: rgb(240, 240, 240);
                color: rgb(124, 124, 124);
                text-align: center;
                padding: 4px;
            }
            
            >.add-contact-to-list-item {
                width: calc(100% - 4px);
                padding: 2px;
                padding-top: 7px;
                padding-bottom: 7px;
                border-top: 1px solid #ccc;
                cursor: pointer;
                
                &.not-added {
                    width: calc(100% - 19px);
                    padding-left: 17px;
                }

                &:hover {
                    background-color: #eee;
                }

                >.check {
                    color: $create;
                }

                >.delete {
                    color: $delete;
                }
            }            
        }

        
        
    }
    
    >#empty-list-filter {
        width: 550px;
        margin: auto;
        padding-top: 150px;
        height: 300px;
        text-align: center;
        transition: all 0.4s;
        
        >#empty-list-filter-header {
            
            font-size: 20px;
        }
        
        >#empty-list-filter-subheader {
            font-size: 15px;
            color: $text;

        }
    }

    >#empty-list-wrapper {
        width: 350px;
        margin: auto;
        padding-top: 150px;
        height: 300px;
        text-align: center;
        transition: all 0.4s;


        >#empty-list-verbiage-header {
            font-size: 40px;
            font-weight: 200;
            color: rgb(163, 163, 163);
            // padding-bottom: 50px;
        }
        
        >#empty-list-verbiage-subheader {
            font-size: 20px;
            font-weight: 200;
            color: $text;
        }

        #empty-list-subheader-divider {
            color: #ccc;
            font-size: 15px;
        }

        >#empty-list-image-wrapper {
            padding-top: 50px;
            padding-bottom: 50px;
            width: 200px;
            margin: auto;

            >#empty-list-image {
                width: 100%;
                border-radius: 100%;
                box-shadow: 0 0 10px #ccc;
            }
        }
    }
}

