#plans-wrapper {
    margin: auto;
    margin-top: 150px;
    width: 800px;
    height: 500px;

    >.plan-block {
        width: 350px;
        height: 500px;
        background-color: rgb(247, 247, 247);
        border-radius: 20px;
        box-shadow: 0 0 3px #ccc;
        float: left;
        
        &.basic {
            margin-right: 100px;
        }
        
        &.pro {
            
        }
        
        >.price-element {
            width: 150px;
            margin: auto;
            height: 40px;
            font-weight: 400;
            position: relative;
            bottom: 25px;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0 0 3px #ccc;
            font-size: 20px;
            text-align: center;
            padding-top: 10px;
            color: rgb(124, 124, 124);
        }
        
        >.plan-name {
            width: 100px;
            height: 70px;
            margin: auto;
            border-radius: 100%;
            box-shadow: 0 0 3px #ccc;
            text-align: center;
            font-weight: lighter;
            font-family: 'Noto Sans', sans-serif;
            font-size: 30px;
            background-color: white;
            padding-top: 30px;

            &.basic {
                color: #969696;
            }
            
            &.pro {
                color: #DDC36B;
            }
        }

        >.features {
            width: 250px;
            margin: auto;
            height: 200px;
            margin-top: 30px;
            margin-bottom: 30px;

            >.feature {
                width: 100%;
                height: 30px;
                margin-bottom: 5px;

                >.feature-check {
                    float: left;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    background-color: white;
                    box-shadow: 0 0 3px #ccc;
                    color: $success;
                    text-align: center;
                    font-size: 20px;
                }
                
                >.feature-description {
                    float: left;
                    width: calc(100% - 50px);
                    padding-left: 20px;
                    color: #aaa;
                    font-size: 17px;
                    padding-top: 5px;
                }
            }
        }
        
        >.upgrade-action-button {
            width: 200px;
            height: 45px;
            border-radius: 5px;
            text-align: center;
            color: white;
            font-weight: 200;
            padding-top: 5px;
            font-size: 25px;
            box-shadow: 0 0 3px #ccc;
            margin: auto;
            cursor: pointer;
            transition: all 0.3s;
            margin-top: 50px;
            
            &:hover {
                box-shadow: 0 0 10px rgb(128, 128, 128);
            }
            
            &.pro {
                background-color: $success;
            }
            
            &.basic {
                background-color: #ccc;
            }
        }
    }
}