#welcome-page {
  margin: none;
  padding: none;

  >#threshold {
    width: 100%;
    height: 480px;
    padding-top: 100px;
    background-image: url("images/threshold.png");
    background-size: cover;
    background-position: center;

    &.short {
      height: 250px;
    }

    >#logo {
      width: 200px;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    >#threshold-headers {

      >#threshold-header {
        width: 100%;
        height: 45px;
        font-size: 50px;
        color: #777777;
        font-weight: 200;
        text-align: center;
      }

      >#threshold-subheader {
        width: 100%;
        height: 60px;
        font-size: 65px;
        font-weight: 400;
        color: rgb(85, 85, 85);
        text-align: center;
      }
    }

    >#show-sign-in-wrapper-button {
      width: 160px;
      height: 25px;
      position: relative;
      top: 120px;
      background-image: $primary-gradient;
      color: white;
      padding: 5px;
      padding-top: 8px;
      text-align: center;
      font-weight: 200;
      font-size: 15px;
      margin: auto;
      border-radius: 10px;
      box-shadow: 0 0 5px #ccc;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        box-shadow: 0 0 8px #ccc;
      }

      >#down-arrow {
        width: 28px;
        height: 28px;
        display: grid;
        margin: auto;
      }
    }
  }

  #features-row {
    width: 100%;
    height: 250px;
    padding-top: 150px;

    &.short {
      padding-top: 80px;
    }

    >.feature-wrapper {
      float: left;
      width: 33%;

      >.feature-box {
        width: 100%;
        margin: auto;
        height: 170px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 0 5px #ddd;
        max-width: 400px;

        >.feature-icon-circle {
          position: relative;
          bottom: 15px;
          opacity: 0.8;
          right: 15px;
          width: 50px;
          height: 50px;
          background: $primary-gradient;
          box-shadow: 0 0 5px #ddd;
          border-radius: 100%;
          text-align: center;

          >.feature-icon {
            width: 30px;
            position: relative;
            top: 10px;
          }
        }

        >.feature-header {
          width: 100%;
          font-size: 25px;
          color: #777;
          text-align: center;
          position: relative;
          bottom: 35px;
        }

        >.feature-body {
          width: calc(100% - 40px);
          padding: 20px;
          font-size: 18px;
          color: #888;
          position: relative;
          bottom: 35px;
        }
      }
    }
  }

  #quotes-row {
    width: 100%;
    background-color: #F7F7F7;
    height: 200px;
    padding-top: 80px;

    >.quote-wrapper {
      width: 50%;
      float: left;

      >.quote-box {
        width: 100%;
        max-width: 400px;
        margin: auto;
        height: 155px;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;

        >.quote-picture {
          width: 80px;
          height: 80px;
          border-radius: 100%;
          background-color: white;
          margin: auto;
          position: relative;
          bottom: 40px;
          box-shadow: 0 0 5px #ccc;
          background-size: cover;
          background-position: center;

          &.katie {
            background-image: url("images/katie.jpg");
          }

          &.ryan {
            background-image: url("images/ryan.jpg");
          }
        }

        >.quote-body {
          width: calc(100% - 40px);
          padding: 20px;
          font-size: 15px;
          position: relative;
          bottom: 40px;
          color: #555;
        }

        >.quote-author {
          width: 100%;
          position: relative;
          bottom: 40px;
          text-align: center;
          font-size: 14px;
          color: #222;
          font-weight: 400;
        }
      }
    }
  }

  >#how-it-works-wrapper {
    width: 80%;
    margin: auto;

    >.how-it-works-row {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
      height: 350px;

      >.how-it-works-content {
        width: 50%;
        padding-top: 75px;
        float: left;

        >.how-it-works-header-wrapper {
          width: 100%;
          height: 50px;

          >.how-it-works-counter {
            width: 50px;
            height: 50px;
            border: 1px solid #666;
            border-radius: 100%;
            float: left;
            font-size: 35px;
            color: $primary;
            text-align: center;
            margin-right: 20px;
          }

          >.how-it-works-heading {
            float: left;
            font-size: 30px;
            color: #666;
          }

        }

        >.how-it-works-content-body {
          width: 100%;
          color: #888;
          font-size: 20px;
          padding-top: 50px;
        }

      }

      >.how-it-works-video-wrapper {
        width: calc(50% - 50px);
        float: left;
        padding-left: 50px;

        >.how-it-works-gif {
          width: 600px;
          box-shadow: 0 0 5px #ccc;
          border-radius: 3px;
        }
      }
    }
  }

  >#bottom-row {
    width: 100%;
    height: 600px;
    background-image: url("images/bottom-row.jpg");
    background-size: cover;
    background-position: center;

    >#bottom-heading {
      width: 100%;
      height: 50px;
      font-size: 40px;
      color: #222;
      padding-top: 40px;
      text-align: center;
    }

    >#bottom-subheading {
      width: 100%;
      height: 30px;
      font-size: 25px;
      color: #444;
      text-align: center;
    }
  }
}

.sign-in-wrapper {
  position: absolute;
  top: 275px;
  background-color: white;
  width: 350px;
  height: 350px;
  border-radius: 5px;
  left: calc(50% - 175px);
  box-shadow: 0 0 10px #ccc;

  &.top {
    display: none;
  }

  &.bottom {
    top: 50px;
    position: relative;
  }

  >.sign-in-tab-wrapper {
    width: 250px;
    margin: auto;
    height: 40px;

    >.sign-in-tab {
      width: calc(50% - 2.5px);
      padding-top: 10px;
      float: left;
      height: 25px;
      font-size: 15px;
      text-align: center;
      color: #777;
      cursor: pointer;
      transition: all 0.2s;
      border-bottom: 1px solid white;

      &.right {
        margin-left: 5px;
      }

      &:hover {
        border-color: #ccc;
        color: #444;
      }

      &.active {
        border-bottom: 1px solid $primary;

        &:hover {
          color: #444;
          border-color: darker($primary);
        }
      }
    }
  }

  >#sign-in-blurb {
    width: 100%;
    height: 40px;
    padding-top: 25px;
    text-align: center;
    font-weight: 400;
    color: rgb(71, 71, 71);
    font-size: 20px;
  }

  >.sign-in-button {
    width: 250px;
    height: 30px;
    padding-top: 12px;
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 5px #aaa;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s;

    &.google {
      background-color: #3D85EF;
    }

    &.fb {
      background-color: #4267B2;
    }

    &:hover {
      box-shadow: 0px 0px 10px #aaa;
    }

    >.sign-in-google-logo {
      float: left;
      margin-left: 10px;
    }

    >.sign-in-button-text {
      padding-right: 10px;
      margin-left: 20px;

      &.fb {
        margin-left: 24px;
      }
    }
  }

  >.sign-in-ep-wrapper {
    width: 350px;
    margin-top: 20px;
    padding-top: 10px;
    height: 170px;
    border-top: 1px solid #ccc;

    >.sign-in-ep-field {
      width: 230px;
      margin-left: 50px;
      margin-top: 10px;
      font-weight: 200;
      height: 30px;
      font-size: 15px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #333;
      border-radius: 5px;
      border: 1px solid #eee;
      padding-left: 10px;
      padding-right: 10px;
    }

    >.sign-in-ep-submit-button {
      width: 250px;
      height: 30px;
      margin-top: 10px;
      border-radius: 5px;
      background-color: $success;
      color: white;
      text-align: center;
      padding-top: 8px;
      font-size: 15px;
      font-weight: 400;
      margin-left: 50px;
      cursor: pointer;
      box-shadow: 0 0 3px #aaa;
      transition: all 0.2s;

      &:hover {
        box-shadow: 0 0 5px #aaa;
      }
    }

  }

  >#up-arrow {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 20px;
    display: grid;
    margin: auto;
    box-shadow: 0 0 5px #ccc;
    cursor: pointer;
    border-radius: 100%;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 0 8px #ccc;
    }
  }
}

.sign-in-emphasis {
  font-weight: 200;
  font-style: italic;
}

.sign-in-bold {
  font-weight: 400;
}
