{{#application-component user=user goToWelcomePage=(action "goToWelcomePage")}}
    {{#if (and session.isAuthenticated notOnPlainView)}}
        {{side-nav-component
            user=user 
            deleteList=(action "deleteList") 
            logout=(action "logout") 
            sendHome=(action "sendHome") 
            sendToIndexRoute=(action "sendToIndexRoute") 
            model=model 
            store=store 
            viewList="viewList"
        }}
        <div id="main-wrapper">
            {{outlet}}
        </div>
    {{else}}
        {{outlet}}
    {{/if}}
{{/application-component}}