{{action-bar-component store=store header=name showSaveConfirmation=showSaveConfirmation}}
{{back-button-component onBack=(action "onBack")}}

{{#if model.lastSaved}}
    <div id="last-saved-counter">
        <span id="last-saved-check">
            {{fa-icon "cloud-upload"}}
        </span>
        saved {{format-timestamp model.lastSaved}}
    </div>
{{/if}}

<div id="contact-fields-wrapper">

    {{contact-field-component onChange=(action "updateContact") label="NAME" required="true" placeholder="Name" value=name}}
    {{contact-field-component onChange=(action "updateContact") label="ADDRESS" placeholder="Street address" value=address}}
    {{contact-field-component onChange=(action "updateContact") label="ADDRESS 2" placeholder="Apt., Suite, Bldg." value=address2}}
    {{contact-field-component onChange=(action "updateContact") label="CITY" placeholder="City" value=city classNames="half first"}}
    {{contact-field-component onChange=(action "updateContact") label="STATE" placeholder="State" value=state classNames="half last"}}
    {{contact-field-component onChange=(action "updateContact") label="COUNTRY" placeholder="Country" value=country classNames="half first"}}
    {{contact-field-component onChange=(action "updateContact") label="POSTAL CODE" placeholder="Postal Code" value=zip classNames="half last"}}
    {{contact-field-component onChange=(action "updateContact") label="EMAIL" placeholder="Email" value=email classNames="half first"}}
    {{contact-field-component onChange=(action "updateContact") label="PHONE" placeholder="Phone" value=phone classNames="half last"}}
    {{contact-field-component onChange=(action "updateContact") label="NOTES" placeholder="Notes" value=notes}}
</div>