{{action-bar-component contactCount=contactCount createContact=(action "createContact") addContact=(action "showAddContactsModal") onImport=(action "showImportContactsModal") onExport=(action "exportList") store=store}}
{{add-contact-to-list-component contacts=contactsNotInList addContacts=(action "addContacts")}}
{{confirm-contact-delete-modal-component contact=contactPendingDeletion confirm=(action "deleteContact") cancel=(action "hideConfirmDeleteModal")}}
{{import-contacts-modal-component confirm=(action "importContacts") cancel=(action "hideImportContactsModal")}}
<div id="contact-table-wrapper">
    {{#if allContacts}}
        <div id="filter-input-wrapper">
            {{input value=filterValue id="contact-filter" placeholder="Filter ..."}}
            <div id="filter-meta">
                <div class="filter-count-wrapper">
                    showing <span class='emphasis'>{{contactCount.filtered}}</span> out of
                    <span class='emphasis'>{{contactCount.all}}</span> contacts
                </div>

                {{#if filterValue}}
                    <span id="filter-icon">{{fa-icon "filter"}}</span>
                    <div id="filter-tag">
                        <span class="filter-value">"{{filterValue}}"</span>
                        <span class="clear-filter-icon" {{action 'clearFilter'}} title="Clear filter.   ">
                            <span class="clear-filter-x">{{fa-icon "times"}}</span>
                        </span>
                    </div>
                {{/if}}
            </div>
        </div>
        {{#if contacts}}
            <div id="view-toggle-row">
                <div id="view-toggle-wrapper">
                    <div {{action "selectTab" "list"}} class="view-toggle {{if (eq activeTab "list") "active"}}"
                        id="toggle-list">
                        {{fa-icon "bars"}}
                    </div>
                    <div {{action "selectTab" "grid"}} class="view-toggle {{if (eq activeTab "grid") "active"}}"
                        id="toggle-grid">
                        {{fa-icon "th"}}
                    </div>
                </div>
            </div>
            {{#each contacts as |contact|}}
                {{#if (eq activeTab "grid")}}
                    <div id="contact-grid-wrapper">
                        <div class="grid-element">
                            <div {{action "viewContact" contact}} class="contact-name"
                                title="View {{contact.name}}'s contact information.">
                                {{contact.name}}
                                <div class="grid-element-address">
                                    {{#if contact.address}}
                                        {{contact.address}}
                                        <br />
                                    {{/if}}
                                    {{#if contact.address2}}
                                        {{contact.address2}}
                                        <br />
                                    {{/if}}
                                    {{#if (and contact.city contact.state)}}
                                        {{contact.city}}, {{contact.state}} {{contact.zip}}
                                    {{/if}}
                                </div>
                            </div>
                            <div {{action 'showDropdown' contact.id}} class="add-contact-to-list-button"
                                title="Manage this contact.">
                                {{fa-icon "gear"}}
                            </div>
                            <div class="contact-actions-dropdown" id={{concat "dropdown-" contact.id}}>
                                <div class="contact-dropdown-category no-hide">
                                    Lists
                                </div>
                                {{#each lists as |list|}}
                                    {{#if (check-if-contact-is-added-to-list listContactRels list.id contact.id)}}
                                        <div class="add-contact-to-list-item no-hide"
                                            {{action 'removeContactFromList' (check-if-contact-is-added-to-list listContactRels list.id contact.id)}}>
                                            <span class="check">{{fa-icon "check-circle-o"}}</span>
                                            {{list.name}}
                                        </div>
                                    {{else}}
                                        <div class="add-contact-to-list-item no-hide"
                                            {{action 'addContactToList' list.id contact.id}}>
                                            <span class="check">{{fa-icon "circle-thin"}}</span>
                                            {{list.name}}
                                        </div>
                                    {{/if}}
                                {{/each}}

                                <div class="contact-dropdown-category no-hide">
                                    Actions
                                </div>
                                <div {{action "showConfirmDeleteModal" contact}} class="add-contact-to-list-item">
                                    <span class="delete">{{fa-icon "trash"}}</span>
                                    Permanently Delete
                                </div>
                            </div>
                        </div>
                    </div>
                {{/if}}
                {{#if (eq activeTab "list")}}
                    <div class="contact-row">
                        <div {{action "viewContact" contact}} class="contact-name"
                            title="View {{contact.name}}'s contact information.">
                            {{contact.name}}
                        </div>
                        <div {{action 'showDropdown' contact.id}} class="add-contact-to-list-button"
                            title="Manage this contact.">{{fa-icon "gear"}}
                        </div>
                        <div class="contact-actions-dropdown" id={{concat "dropdown-" contact.id}}>
                            <div class="contact-dropdown-category no-hide">
                                Lists
                            </div>
                            {{#each lists as |list|}}
                                {{#if (check-if-contact-is-added-to-list listContactRels list.id contact.id)}}
                                    <div class="add-contact-to-list-item no-hide"
                                        {{action 'removeContactFromList' (check-if-contact-is-added-to-list listContactRels list.id contact.id)}}>
                                        <span class="check">{{fa-icon "check-circle-o"}}</span>
                                        {{list.name}}
                                    </div>
                                {{else}}
                                    <div class="add-contact-to-list-item no-hide"
                                        {{action 'addContactToList' list.id contact.id}}>
                                        <span class="check">{{fa-icon "circle-thin"}}</span>
                                        {{list.name}}
                                    </div>
                                {{/if}}
                            {{/each}}

                            <div class="contact-dropdown-category no-hide">
                                Actions
                            </div>
                            <div {{action "showConfirmDeleteModal" contact}} class="add-contact-to-list-item">
                                <span class="delete">{{fa-icon "trash"}}</span>
                                Permanently Delete
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        {{else}}
            <div id="empty-list-filter">
                <div id="empty-list-filter-header">
                    There are no contacts in this list <br />that match your filter term <span
                        class="emphasis">"{{filterValue}}"</span>.
                </div>
                <div id="empty-list-filter-subheader">

                    <br />Maybe try another term? <br />Is your contact on another list?
                </div>
            </div>
        {{/if}}
    {{else}}
        <div id="empty-list-wrapper">
            <div id="empty-list-verbiage-header">This list looks empty.</div>
            <div id="empty-list-image-wrapper">
                <img src="assets/images/fields.svg" id="empty-list-image" />
            </div>
            <div id="empty-list-verbiage-subheader">Add <span {{action "showAddContactsModal"}} class="link">some
                    of your contacts</span>.</div>
            <div id="empty-list-subheader-divider">- or -</div>
            <div id="empty-list-verbiage-subheader">Create <span {{action "createContact"}} class="link">a new
                    contact</span>.</div>
        </div>
    {{/if}}

</div>