<div id="plans-wrapper">
    <div class="plan-block basic">
        <div class="price-element">FREE</div>
        <div class="plan-name basic">Basic</div>
        <div class="features">
            {{upgrade-feature-item name="Up to 300 addresses"}}
            {{upgrade-feature-item name="Up to 3 categories"}}
            {{upgrade-feature-item name="Up to 2 lists"}}
            {{upgrade-feature-item name="Verify 10 contacts"}}
        </div>
        <div {{action "stayBasic"}} class="upgrade-action-button basic">Continue</div>
    </div>
    <div class="plan-block pro">
        <div class="price-element pro">$4.99/month</div>
        <div class="plan-name pro">PRO</div>
        <div class="features">
            {{upgrade-feature-item name="Unlimited contacts"}}
            {{upgrade-feature-item name="Unlimited categories"}}
            {{upgrade-feature-item name="Unlimited lists"}}
            {{upgrade-feature-item name="Unlimited shares"}}
            {{upgrade-feature-item name="Verify unlimited contacts"}}
            {{upgrade-feature-item name="Export contacts"}}
        </div>

        <div class="upgrade-action-button pro">Upgrade</div>
    </div>
</div>