<div id="welcome-page">
    <div id="threshold" class="{{unless showTopSignInWrapper "short"}}">
        <img src="/assets/images/logo_and_text.png" id="logo" />
        <div id="threshold-headers">
            {{#if contactFocus}}
                <div id="threshold-header">Organize your contacts</div>
                <div id="threshold-subheader">LIKE A PRO</div>
            {{else}}
                <div id="threshold-header">Organize your RSVPs</div>
                <div id="threshold-subheader">LIKE A PRO</div>
            {{/if}}
        </div>

        <div {{action 'showSignInWrapper'}} id="show-sign-in-wrapper-button">
            <span class="emphasis">Sign In</span> or <span class="emphasis">Sign Up</span>
        </div>
        <div class="sign-in-wrapper top">
            <div class="sign-in-tab-wrapper">
                <div {{action "viewSignUpTabTop"}} class="sign-in-tab {{unless showSignInTop "active"}}">SIGN UP
                </div>
                <div {{action "viewSignInTabTop"}} class="sign-in-tab right {{if showSignInTop "active"}}">SIGN IN
                </div>
            </div>
            {{#if showSignInTop}}
                <div {{action "loginWithGoogle"}} class="sign-in-button google"
                    title="Sign in using your Google account">
                    <span class="sign-in-google-logo">{{fa-icon "google"}}</span>
                    <span class="sign-in-button-text">Sign in with Google</span>
                </div>
                <div {{action "loginWithFb"}} class="sign-in-button fb" title="Sign in using your Facebook account">
                    <span class="sign-in-google-logo">{{fa-icon "facebook"}}</span>
                    <span class="sign-in-button-text fb">Sign in with Facebook</span>
                </div>
                <div class="sign-in-ep-wrapper">
                    {{input class="sign-in-ep-field" type="email" placeholder="Email" value=signInEmailTop}}
                    {{input class="sign-in-ep-field right" type="password" placeholder="Password" value=signInPasswordTop}}
                    <div {{action "signInWithEmailAndPasswordTop"}} class="sign-in-ep-submit-button">Sign In</div>
                </div>
            {{else}}
                <div {{action "loginWithGoogle"}} class="sign-in-button google"
                    title="Sign in using your Google account">
                    <span class="sign-in-google-logo">{{fa-icon "google"}}</span>
                    <span class="sign-in-button-text">Continue with Google</span>
                </div>
                <div {{action "loginWithFb"}} class="sign-in-button fb" title="Sign in using your Facebook account">
                    <span class="sign-in-google-logo">{{fa-icon "facebook"}}</span>
                    <span class="sign-in-button-text fb">Continue with Facebook</span>
                </div>
                <div class="sign-in-ep-wrapper">
                    {{input class="sign-in-ep-field" type="email" placeholder="Email" value=signUpEmailTop}}
                    {{input class="sign-in-ep-field right" type="password" placeholder="Password" value=signUpPasswordTop}}
                    <div {{action "signUpWithEmailAndPasswordTop"}} class="sign-in-ep-submit-button"
                        title="Sign up for free">Sign Up</div>
                </div>
            {{/if}}
            <img {{action "hideSignInWrapper"}} src="assets/icons/up.png" id="up-arrow" />
        </div>
    </div>
    <div id="features-row" class="{{unless showTopSignInWrapper "short"}}">
        <div class="feature-wrapper">
            <div class="feature-box">
                <div class="feature-icon-circle">
                    <img src="/assets/icons/organize.svg" class="feature-icon" />
                </div>
                <div class="feature-header">Organize</div>
                {{#if contactFocus}}
                    <div class="feature-body">Keep your contacts and addresses in groups and lists. Organization has
                        never
                        been easier or more fun!</div>
                {{else}}
                    <div class="feature-body">Keep your RSVPs and addresses in groups and lists. Organization has never
                        been easier or more fun!</div>
                {{/if}}
            </div>
        </div>
        <div class="feature-wrapper">
            <div class="feature-box">
                <div class="feature-icon-circle">
                    <img src="/assets/icons/verify.svg" class="feature-icon" />
                </div>
                <div class="feature-header">Verify</div>
                {{#if contactFocus}}
                    <div class="feature-body">Keep your addresses up to date by having your contacts verify or provide
                        their
                        current address. Makes sending out Christmas cards a breeze.</div>
                {{else}}
                    <div class="feature-body">Keep your addresses up to date by having your contacts verify or provide
                        their
                        current address. Makes sending out cards a breeze.</div>
                {{/if}}
            </div>
        </div>
        <div class="feature-wrapper">
            <div class="feature-box">
                <div class="feature-icon-circle">
                    <img src="/assets/icons/secure.svg" class="feature-icon" />
                </div>
                <div class="feature-header">Secure</div>
                <div class="feature-body">Secure your contacts and keep them safe on our online system. Access them from
                    anywhere
                    and never worry about losing your contact book again.</div>
            </div>
        </div>
    </div>
    <div id="quotes-row">
        <div class="quote-wrapper">
            <div class="quote-box">
                <div class="quote-picture katie"></div>
                <div class="quote-body">It's fun and easy to use. I like to keep things organized. Now, I don't have to
                    use a spreadsheet.</div>
                <div class="quote-author">Katie L.</div>
            </div>
        </div>

        <div class="quote-wrapper">
            <div class="quote-box">
                <div class="quote-picture ryan"></div>
                <div class="quote-body">I keep all our contacts up to date and never have to
                    try and text all my family about their addresses again.</div>
                <div class="quote-author">Ryan G.</div>
            </div>
        </div>
    </div>
    <div id="how-it-works-wrapper">
        <div class="how-it-works-row">
            <div class="how-it-works-content">
                <div class="how-it-works-header-wrapper">
                    <div class="how-it-works-counter">1</div>
                    {{#if contactFocus}}
                        <div class="how-it-works-heading">Add your contacts</div>
                    {{else}}
                        <div class="how-it-works-heading">Add your RSVPs</div>
                    {{/if}}
                </div>
                <div class="how-it-works-content-body">Get started by adding some contacts. You can add by creating a
                    contact
                    or importing them. You can manage and update your
                    contacts at anytime - on any computer.</div>
            </div>
            <div class="how-it-works-video-wrapper">
                <img src="/assets/images/create-contact.gif" class="how-it-works-gif hide-on-mobile" />
                <img src="/assets/images/mobile-create-contact.gif" class="how-it-works-gif only-show-on-mobile" />
            </div>
        </div>

        <div class="how-it-works-row">
            <div class="how-it-works-content">
                <div class="how-it-works-header-wrapper">
                    <div class="how-it-works-counter">2</div>
                    <div class="how-it-works-heading">Create a list</div>
                </div>
                <div class="how-it-works-content-body">Lists are like music playlists - but for your contacts. They make
                    it
                    easy to group your contacts in meaningful ways.
                    Contacts can be in none, some, or all of your lists - it's up to you!</div>
            </div>
            <div class="how-it-works-video-wrapper">
                <img src="/assets/images/create-list.gif" class="how-it-works-gif hide-on-mobile" />
                <img src="/assets/images/mobile-create-list.gif" class="how-it-works-gif only-show-on-mobile" />
            </div>
        </div>

        <div class="how-it-works-row">
            <div class="how-it-works-content">
                <div class="how-it-works-header-wrapper">
                    <div class="how-it-works-counter">3</div>
                    <div class="how-it-works-heading hide-on-mobile">Export your list</div>
                    <div class="how-it-works-heading only-show-on-mobile">Have Fun</div>
                </div>
                <div class="how-it-works-content-body hide-on-mobile">Whether you want to upload your addresses to
                    another site, or
                    just to have another copy, it's easy to export any of your
                    lists. Just choose the list and export. It's just that easy!</div>
                <div class="how-it-works-content-body only-show-on-mobile">Whether you want to import, export, or just
                    manage your {{if contactFocus "contacts" "RSVPs"}} - it's never been easier, or more fun!</div>
            </div>
            <div class="how-it-works-video-wrapper">
                <img src="/assets/images/export-list.gif" class="how-it-works-gif hide-on-mobile" />
                <img src="/assets/images/mobile-other-features.gif" class="how-it-works-gif only-show-on-mobile" />
            </div>
        </div>
    </div>

    <div id="bottom-row">

        <div id="bottom-heading">You deserve the best.</div>
        <div id="bottom-subheading">Feel more organized <span class="sign-in-bold">in seconds.</span></div>

        <div class="sign-in-wrapper bottom">
            <div class="sign-in-tab-wrapper">
                <div {{action "viewSignUpTabBottom"}} class="sign-in-tab {{unless showSignInBottom "active"}}">SIGN UP
                </div>
                <div {{action "viewSignInTabBottom"}} class="sign-in-tab right {{if showSignInBottom "active"}}">SIGN IN
                </div>
            </div>
            {{#if showSignInBottom}}
                <div {{action "loginWithGoogle"}} class="sign-in-button google"
                    title="Sign in using your Google account">
                    <span class="sign-in-google-logo">{{fa-icon "google"}}</span>
                    <span class="sign-in-button-text">Sign in with Google</span>
                </div>
                <div {{action "loginWithFb"}} class="sign-in-button fb" title="Sign in using your Facebook account">
                    <span class="sign-in-google-logo">{{fa-icon "facebook"}}</span>
                    <span class="sign-in-button-text fb">Sign in with Facebook</span>
                </div>
                <div class="sign-in-ep-wrapper">
                    {{input class="sign-in-ep-field" type="email" placeholder="Email" value=signInEmailBottom}}
                    {{input class="sign-in-ep-field right" type="password" placeholder="Password" value=signInPasswordBottom}}
                    <div {{action "signInWithEmailAndPasswordBottom"}} class="sign-in-ep-submit-button">Sign In</div>
                </div>
            {{else}}
                <div {{action "loginWithGoogle"}} class="sign-in-button google"
                    title="Sign in using your Google account">
                    <span class="sign-in-google-logo">{{fa-icon "google"}}</span>
                    <span class="sign-in-button-text">Continue with Google</span>
                </div>
                <div {{action "loginWithFb"}} class="sign-in-button fb" title="Sign in using your Facebook account">
                    <span class="sign-in-google-logo">{{fa-icon "facebook"}}</span>
                    <span class="sign-in-button-text fb">Continue with Facebook</span>
                </div>
                <div class="sign-in-ep-wrapper">
                    {{input class="sign-in-ep-field" type="email" placeholder="Email" value=signUpEmailBottom}}
                    {{input class="sign-in-ep-field right" type="password" placeholder="Password" value=signUpPasswordBottom}}
                    <div {{action "signUpWithEmailAndPasswordBottom"}} class="sign-in-ep-submit-button"
                        title="Sign up for free">
                        Sign Up</div>
                </div>
            {{/if}}
        </div>
    </div>
</div>